*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.mobile-container {
    width: 100%;
    max-width: 400px;
    background-color: whitesmoke;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    border: 5px solid #000;
    height: calc(100vh - 40px);
    max-height: 900px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.menu-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.menu-icon-box{
    width: 120px;
    height: 120px;
    background-color: #5856AA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.menu-item:hover .menu-icon-box {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
.menu-icon-box img {
    width: 60px; /* Ukuran ikon di dalam kotak */
    height: 60px;
    object-fit: contain;
}

.menu-label {
    font-size: 12px;
    font-weight: 600;
    color: #333;
    max-width: 130px;
}